:root.theme-dark {
  --accent-color: #FF0070;
  --nav-button-color: #FF0070;
  --frames-color: #FF0070;
  --title-color: #FF0070;
  --nav-button-hover: #ff007066;
  --accent-text-color: #000028;
  --header-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}