.page {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: var(--normal-font-weight);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 0 1fr min-content 1fr 0;
  justify-items: end;
  margin-block-end: var(--header-footer-margin);
  padding: var(--main-padding);
  min-block-size: 100vb;
}

.frames::before {
  content: "";
  justify-self: end;
  border-inline-end: 1px solid var(--frames-color);
  border-block-start: 1px solid var(--frames-color);
  inline-size: 25px;
  block-size: 25px;
}

.frames::after {
  content: "";
  justify-self: start;
  align-self: end;
  border-inline-start: 1px solid var(--frames-color);
  border-block-end: 1px solid var(--frames-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  align-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  align-self: center;
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--nav-button-color);
  font-size: var(--main-font-size);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-button-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-button-color);
  pointer-events: none;
}

.header__pseudo {
  position: absolute;
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: 25px;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(10px + var(--main-padding));
}

.header__pseudo::before {
  content: "REC";
}

.header__pseudo::after {
  content: "";
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__title {
  justify-self: start;
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}

.main-meaning {
  color: var(--header-title-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--meaning-font-size);
  line-height: 82.5%;
  text-transform: lowercase;
}

.title-decor {
  color: var(--accent-text-color);
  font-weight: var(--bold-font-weight);
  background-color: var(--accent-color);
}

.header__text {
  align-self: center;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.decorated-text {
  color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-block-end: var(--header-footer-margin);
  padding: 0 var(--main-padding);
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.content__subsection {
  grid-column-start: 2;
  color: var(--main-text-color);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.content__list-subtitle {
  margin-block-end: var(--subtitle-margin);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content__title {
  color: var(--title-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content__subtitle {
  margin-block-end: var(--subtitle-margin);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content__text {
  line-height: var(--main-line-height);
}

.content__list .content__subtitle {
  margin: 0;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 0px var(--accent-color);
}

.content__link:hover {
  text-decoration: underline;
}
.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.gallery {
  gap: var(--gallery-gap);
}

.gallery__title {
  color: var(--accent-text-color);
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  align-content: space-between;
  padding: var(--main-padding);
  text-shadow: 2px 0px var(--accent-color);
  min-block-size: 100vb;
}

.footer__span {
  justify-self: center;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: calc(-1 * var(--main-padding));
    -webkit-text-stroke: initial;
    text-stroke: initial;
  }

  .header__text {
    margin-inline-start: 50%;
  }

  .header__pseudo {
    inset-block-start: var(--main-padding);
    inset-inline-end: 28px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .even .content__subsection {
    grid-column: span 3;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gallery-gap);
  }

  .gallery__title {
    grid-column: 1 / -1;
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 3;
  }

  .gallery__image:last-of-type {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__subsection {
    grid-column: 2 / 4;
  }

  .even .content__subsection {
    grid-column: span 1;
    grid-row: 2;
  }

  .content__list {
    grid-column: span 2;
  }
}