:root {
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --meaning-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #FF0070;
  --frames-color: #FF0070;
  --title-color: #FF0070;
  --nav-button-hover: #ff007066;
  --nav-button-color: #FF0070;
  --accent-text-color: #000028;
  --header-title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --header-footer-margin: 40px;
  --main-gap: 50px;
  --bg-image: url(../images/cover-image-dark.png);
  --main-padding: 10px;
  --content-gap: 20px;
  --subtitle-margin: 10px;
  --gallery-gap: 10px;
  --content-list-title-margin: 20px;
  --gallery-margin: 40px;
  --gallery-item-margin: 10px;
  --gallery-title-margin: 10px;
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --main-gap: 80px;
    --header-footer-margin: 60px;
    --gallery-gap: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --meaning-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}